/* body {
    @extend %main;
    @include flex();
    flex-direction: column;
}
h1 {
    font-family: $main-font;
} */
span {
    cursor: pointer;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgba($color: #000000, $alpha: .7);
}
h2 {
    text-align: center;
    color: rgba($color: #000000, $alpha: .7);
}
.textarea {
    width: inherit;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 1.5rem;
    resize: none;
}
.keyboard {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba($color: #d7e1ec, $alpha: .5);
    margin-bottom: 30px;
}
.key {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color: #000000, $alpha: .5);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 24px;
    font-weight: bold;
    color: rgba($color: #000000, $alpha: .7);
    background-color: rgba($color: #d7e1ec, $alpha: .9);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    &:hover {
        color: #000000;
    }
    &:active {
        background-color: rgba($color: #d7e1ec, $alpha: .5);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border: 1px solid rgba($color: #000000, $alpha: .4);
    }
}

.Backspace {
    grid-column: span 2;
    width: 100%;
}
.CapsLock {
    grid-column: span 2;
}
.Enter {
    grid-column: span 2;
}
.ShiftRight, .ShiftLeft {
    grid-column: span 2;
}
.Space {
    grid-column: span 7;
}

.active {
    color: #000000;
    background-color: rgba($color: #d7e1ec, $alpha: .5);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border: 1px solid rgba($color: #000000, $alpha: .4);
}